<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CB Custom Attributes</title>

    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script data-main="js/main.js" src="js/main.js"></script>
    <script data-main="js/blocksdk.js" src="js/blocksdk.js"></script>
    <script type="text/javascript">
        
        console.log( "ready!" );
        var sdk = new SDK();
        console.log("SDK: "+ sdk);            
       
    </script>

    <!--Styles-->
    <style type="text/css">
        body {
            padding: 20px;
            margin: 0;
        }
        .step {
            display: none;
        }
        #step1 {
            display: block;
        }
    </style>

</head>
<body>
    <div id="step1" class="step">
        <div class="slds-form slds-form_compound">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="input-id-01">Current Data:</label>
                    <p id="currentData"></p>
                    </br>
                </div>
        </div>
        <div class="slds-form slds-form_compound">
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="input-id-01">Data Extension External Key</label>
                <div class="slds-form-element__control">
                <input type="text" id="deExternalKey" name="deExternalKey" class="slds-input" placeholder="Data Extension External Key" />
                </div>
            </div>
            <br>
            <fieldset class="slds-form-element">
                <legend class="slds-form-element__label slds-form-element__legend slds-text-title_caps">Values</legend>
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row">
                    <div class="slds-form-element slds-size_1-of-2">
                        <label class="slds-form-element__label" for="colName-01">Column Name</label>
                        <input type="text" id="name-01" class="slds-input" />
                    </div>
                    <div class="slds-form-element slds-size_1-of-2">
                        <label class="slds-form-element__label" for="colValue-02">Column Value</label>
                        <input type="text" id="value-01" class="slds-input" />
                    </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="slds-form-element">
                    <div class="slds-form-element__group">
                        <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size_1-of-2">
                            <label class="slds-form-element__label" for="colName-01">Column Name</label>
                            <input type="text" id="name-02" class="slds-input" />
                        </div>
                        <div class="slds-form-element slds-size_1-of-2">
                            <label class="slds-form-element__label" for="colValue-02">Column Value</label>
                            <input type="text" id="value-02" class="slds-input" />
                        </div>
                        </div>
                    </div>
                </fieldset>
            </div>

</div>
<script type="text/javascript">
//sdk.setSuperContent('Placeholder for simple ampscript section.');

var content = 'testtestetsetset';

var dataDE = {de: ""};
var dataArray = {dataName1: "Test 1 Name", datavalue1: "Test 1 Value", dataName2: "Test 2 Name", datavalue2: "Test 2 Value"};

sdk.getData(function (data) {
    // set value from get
    $( "#deExternalKey" ).val(data);

    // data set 1
    $( "#name-01" ).val(data);
    $( "#value-01" ).val(data);

    // data set 2
    $( "#name-02" ).val(data);
    $( "#value-02" ).val(data);

    $( "#currentData" ).html(JSON.stringify(data, null, 2));

    var numberOfEdits = data.numberOfEdits || 0;
    sdk.setData({
        numberOfEdits: numberOfEdits + 1,
        dataDE: dataDE,
        dataArray: dataArray
    });
});

sdk.getContent(function (content) {
    // set value from get
    $( "#deExternalKey" ).val(content);
    content += '.';
    sdk.setContent(content, function (setContent) {
        console.log("Shane Content" + content);
    });
});

function saveText() {
    var html = $( "#deExternalKey" ).val();
    sdk.setContent(html);
    sdk.setSuperContent('This is super content: ' + html);

    sdk.getData(function (data) {
        var numberOfEdits = data.numberOfEdits || 0;
    var value = data.value || 0;
        sdk.setData({
            numberOfEdits: numberOfEdits + 1,
            dataDE: dataDE,
            dataArray: dataArray
        });
    });
    sdk.getCentralData(function (central) {
        var totalNumberOfEdits = central.totalNumberOfEdits || 0;
        sdk.setCentralData({
            totalNumberOfEdits: totalNumberOfEdits + 1
        });
    });
}
    
$( "#deExternalKey" ).keyup(function() {
    saveText();
    console.log($( "#deExternalKey" ).val());
});
</script>
</body>
</html>